public/fakro/**/*.pdf filter=lfs diff=lfs merge=lfs -text
public/fakro-products/** filter=lfs diff=lfs merge=lfs -text
public/flooring-sales/** filter=lfs diff=lfs merge=lfs -text
public/the-under-floor-heating/** filter=lfs diff=lfs merge=lfs -text
public/home/** filter=lfs diff=lfs merge=lfs -text
public/pooky/** filter=lfs diff=lfs merge=lfs -text
